amqp==2.3.2
billiard==3.5.0.4
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Caching==1.4.0
htmlmin==0.1.12
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
oauthlib==2.1.0
PySocks==1.6.8
pytz==2018.5
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
urllib3==1.23
uWSGI==2.0.17.1
vine==1.1.4
Werkzeug==0.14.1
