<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="keywords" content="ooi, kantai collection, kancolle, 艦隊これくしょん, 艦これ">
    <title>OOI - Online caching system for Kancolle - Remastered</title>
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
    <link href="{{ url_for("static", filename="img/logo.png") }}" sizes="128x128"
          rel="apple-touch-icon-precomposed">
    {% if config.ENV == 'production' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99600152-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-99600152-2');
        </script>
    {% endif %}
    {% assets "base_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block extra_css %}{% endblock %}
    {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
<div id="ooi-page" class="uk-container uk-container-center">
    <div id="ooi-header" class="uk-grid uk-grid-small">
        <div id="ooi-logo" class="uk-width-medium-1-10 uk-height-1-1">
            <img src="{{ url_for("static", filename="img/logo.png") }}"
                 style="object-fit: contain; max-width: 100%; max-height: 100%; width: auto; height: auto;">
        </div>
        <div id="ooi-headline" class="uk-width-medium-9-10">
            <h1 class="uk-text-primary">OOI - Online caching system for Kancolle - <span class="uk-text-muted">Remastered</span>
            </h1>
            <hr>
        </div>
    </div>
    <div id="ooi-content" class="uk-grid uk-grid-divider" data-uk-grid-margin>
        {% block content %}{% endblock %}
    </div>
    <div id="ooi-footer" class="uk-text-center">
        <hr>
        <div class="uk-container uk-container-center">
            <strong>Specially thanks to <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"
                                           target="_blank">
                <img style="width: 72px; height: 31px;"
                     src="{{ url_for("static", filename="img/upyun_logo.png") }}"></a>
                for CDN support</strong>
        </div>
        <hr>
        <small>API version {{ config.API_VERSION }}</small>
        <address><a href="https://weibo.com/u/2342802381" target="_blank">新中華妖西門陣@ブイン基地</a> &copy; 2018</address>
    </div>
</div>
{% block extra_js %}{% endblock %}
</body>
</html>
