{% extends 'base.html' %}

{% block extra_js %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/vendor/pixijs/pixijs.min.js") }}"></script>
    {% assets 'browser_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block extra_css %}
    {% assets 'browser_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content -%}
    <div class="uk-alert uk-container-center" data-uk-alert>
        <p>Login success! Please wait a few minutes while game is loading...</p>
        <button id="fullScreenButton" class="uk-button uk-button-primary">Activate Full Screen (iPhone not supported)
        </button>
        <button class="uk-button uk-button-success" data-uk-modal="{target:'#ooi-console'}">OOI Console (Coming soon!)
        </button>
    </div>
    <div id="ooi-game" class="uk-align-center">
        <canvas id="ooi-assistant" style="visibility: hidden"></canvas>
        <iframe src="{{ scheme }}://{{ host }}/kcs2/index.php?api_root=/kcsapi&amp;voice_root=/kcs/sound&amp;osapi_root=osapi.dmm.com&amp;version={{ config.API_VERSION }}&amp;api_token={{ token }}&amp;api_starttime={{ starttime }}"
                id="htmlWrap" scrolling="no" frameborder="0" allowfullscreen
                style="width: 1200px; height: 720px; margin: 0 0 0 0;"></iframe>
    </div>
    <div id="ooi-footer" class="uk-align-center">
        <a href="{{ url_for("frontend.logout") }}" class="uk-button uk-button-danger">Logout</a>
    </div>
    <div id="ooi-console" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div id="debugTerminal"></div>
        </div>
    </div>
{%- endblock %}