{% extends 'base.html' %}

{% block content %}
<div id="spacing_top" style="height:16px;"></div>
<div id="flashWrap" style="width: 800px; margin: auto;">
    <embed id="externalswf" width="1280" height="800" wmode="opaque" quality="high" bgcolor="#000000"
           allowscriptaccess="always" base="{{ scheme }}://{{ host }}/kcs2/"
           src="{{ scheme }}://{{ host }}/kcs2/index.php?api_root=/kcsapi&voice_root=/kcs/sound&osapi_root=osapi.dmm.com&version=4.0.0.0&api_token={{ token }}&amp;api_starttime={{ starttime }}"
           style="display: block !important;">
</div>
{% endblock %}