{% extends 'base.html' %}

{% block content -%}
    <div id="ooi-form" class="uk-width-medium-2-5">
        {% if errmsg -%}
            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-bottom">
                <p class="uk-text-danger">{{ errmsg }}</p>
            </div>
        {%- endif %}
        <form method="post" class="uk-form uk-form-stacked">
            <div class="uk-form-row">
                <label class="uk-form-label" for="login_id">Email Address</label>
                <div class="uk-form-controls">
                    <input id="login_id" maxlength="80" name="login_id" type="email"
                           class="uk-form-large uk-form-width-large">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="password">Password</label>
                <div class="uk-form-controls">
                    <input id="password" maxlength="80" name="password" type="password"
                           class="uk-form-large uk-form-width-large">
                </div>
            </div>
            <div class="uk-form-row">
                <span class="uk-form-label">Start in mode：</span>
                <p>
                    <input type="radio" id="mode1" name="mode" value="1"{% if mode == 1 %} checked{% endif %}>
                    <label for="mode1">Browser &nbsp;&nbsp;&nbsp;
                        <span class="uk-badge uk-badge-success">HTTPS</span>
                        <span class="uk-badge uk-badge-success">HTML5</span>
                        <span class="uk-badge uk-badge-success">Cache</span>
                        <span class="uk-badge uk-badge-success">ver: 4.2.0.2</span>
                    </label>
                </p>
                <p>
                    <input type="radio" id="mode2" name="mode" value="2"{% if mode == 2 %} checked{% endif %}>
                    <label for="mode2">KCV/74EO
                        <span class="uk-badge uk-badge-success">HTTPS</span>
                        <span class="uk-badge uk-badge-warning">FLASH</span>
                        <span class="uk-badge uk-badge-success">Cache</span>
                        <span class="uk-badge uk-badge-warning">ver: 4.0.0.0</span>
                    </label>
                </p>
                <p>
                    <input type="radio" id="mode3" name="mode" value="3"{% if mode == 3 %} checked{% endif %}>
                    <label for="mode3">POI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="uk-badge uk-badge-warning">HTTP</span>
                        <span class="uk-badge uk-badge-success">HTML5</span>
                        <span class="uk-badge uk-badge-success">Cache</span>
                        <span class="uk-badge uk-badge-success">ver: 4.2.0.2</span>
                    </label>
                </p>
                <p>
                    <input type="radio" id="mode4" name="mode" value="4"{% if mode == 4 %} checked{% endif %}>
                    <label for="mode4">Direct link&nbsp;
                        <span class="uk-badge uk-badge-warning">HTTP</span>
                        <span class="uk-badge uk-badge-success">HTML5</span>
                        <span class="uk-badge uk-badge-danger">No Cache</span>
                        <span class="uk-badge uk-badge-success">ver: newest</span>
                    </label>
                </p>
            </div>
            {% if config['ENV'] == 'development' %}
                <div class="uk-form-row">
                    <input type="checkbox" id="testMode" name="testMode" value="true">
                    <label for="testMode">Do not start game (Must set ENV to development)</label>
                </div>
            {% endif %}
            <div class="uk-form-row">
                <button class="uk-button uk-button-primary uk-button-large">Login</button>
            </div>
        </form>
    </div>
    <div id="ooi-announcement" class="uk-width-medium-3-5">
        <h2 class="uk-text-primary">NOTICE</h2>
        <p>This website uses the Online Objects Integration system which is an online caching system for DMM web
            game <q>Kantai Collection (艦隊これくしょん -艦これ)</q></p>
        <p>This website only support login with the origin DMM account. All third-party login (Google and Facebook)
            are not supported.</p>
        <p class="uk-text-warning">This website does not store any user information and is not responsible for any
            consequences that may be caused by the services of this website.</p>
        <p class="uk-text-warning">I'm highly recommending you deploy this website on the VPS owned by yourself if you
            suspect the security of this website.</p>
        <p>The source code of this website was forked from <a href="https://github.com/acgx/ooi3" target="_blank">this
            repository </a>and is open sourced under the GPLv3 license.</p>
        <p>The source code of this website is published in <a href="https://github.com/EnderQIU/ooi3-remastered"
                                                              target="_blank">this repository </a>and is open sourced
            under the GPLv3 license.</p>
    </div>
{%- endblock %}
