<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    {% assets 'ios_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
</html>
<body background="{{ url_for("static", filename="img/background.gif") }}">
<div id="ooi-game">
    <canvas id="ooi-assistant" style="width: 0; height: 0; margin: 0 0 0 0; visibility: hidden"></canvas>
    <iframe src="{{ scheme }}://{{ host }}/kcs2/index.php?api_root=/kcsapi&amp;voice_root=/kcs/sound&amp;osapi_root=osapi.dmm.com&amp;version={{ config.API_VERSION }}&amp;api_token={{ token }}&amp;api_starttime={{ starttime }}"
            id="htmlWrap" scrolling="no" frameborder="0" allowfullscreen
            style="width: 1200px; height: 720px; margin: 0 0 0 0;"></iframe>
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/vendor/jquery/jquery-3.3.1.min.js") }}"></script>
    {% assets 'ios_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</div>
</body>
