<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/vendor/js-mobile-console/mobile-console.min.css") }}">
</head>
<body background="{{ url_for("static", filename="img/game_blur.jpg") }}">
<script type="text/javascript" src="{{ url_for("static", filename="js/vendor/axios/axios.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/vendor/js-mobile-console/mobile-console.min.js") }}"></script>
<script>
    mobileConsole.show();
</script>
</body>
</html>