{% extends 'base.html' %}

{% block content -%}
    <div class="uk-alert uk-container-center" data-uk-alert>
        <p>Login success! Please wait a few minutes while game is loading...</p>
        <button id="fullScreenButton" class="uk-button uk-button-primary">Activate Full Screen (iOS not supported)
        </button>
        <button class="uk-button uk-button-success" data-uk-modal="{target:'#ooi-console'}">OOI Console (Coming soon!)
        </button>
    </div>
    <div id="ooi-game" class="uk-align-center">
        <iframe src="{{ scheme }}://{{ host }}/kcs2/index.php?api_root=/kcsapi&amp;voice_root=/kcs/sound&amp;osapi_root=osapi.dmm.com&amp;version=4.2.0.2&amp;api_token={{ token }}&amp;api_starttime={{ starttime }}"
                id="htmlWrap" scrolling="no" frameborder="0" allowfullscreen
                style="width: 1200px; height: 720px; margin: 0px 0px 0px 0px;"></iframe>
    </div>
    <div id="ooi-footer" class="uk-align-center">
        <a href="/logout" class="uk-button uk-button-danger">Logout</a>
    </div>
    <div id="ooi-console" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <link href="/static/css/xterm.css" rel="stylesheet">
            <div id="debugTerminal"></div>
        </div>
    </div>
    <div class="ooi-extra-script">
        <script src="/static/js/ajaxhook.min.js?version=1810261"></script>
        <script src="/static/js/xterm.js?version=1810261"></script>
        <script src="/static/js/ooi-xhrhook.js?version=1810261"></script>
        <script src="/static/js/ooi-fullscreen.js?version=1810261"></script>
    </div>
{%- endblock %}