<html lang="en">
<head>
    {% assets 'poi_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'poi_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<div id="flashWrap">
    <div id="ooi-game">
        <iframe src="{{ scheme }}://{{ host }}/kcs2/index.php?api_root=/kcsapi&amp;voice_root=/kcs/sound&amp;osapi_root=osapi.dmm.com&amp;version={{ config.API_VERSION }}&amp;api_token={{ token }}&amp;api_starttime={{ starttime }}"
                id="htmlWrap" scrolling="no" frameborder="0"
                style="width:1200px; height: 720px; margin: 0 0 0 0;"></iframe>
    </div>
</div>
</body>
</html>